# Build output folders
bin/
obj/
Debug/
Release/

# Visual Studio specific
.vs/
.vscode/

# NuGet Packages
*.nupkg
project.lock.json
project.assets.json
packages/
!packages/repositories.config

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs and cache
*.log
*.cache
*.pdb
*.db

# Rider / JetBrains
.idea/
*.iml
